# Git Noise
*.orig
*.BACKUP.*
*.REMOTE.*
*.LOCAL.*
*.BASE.*

# Carthage noise
Carthage/

# OSX Noise
.DS_Store

# Xcode Noise
build/
dist/
.idea/
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
*.xcuserdatad
*.trace
*project.xcworkspace/
*.log
*.xccheckout
*.xcscmblueprint
Douban.xcworkspace/
xcuserdata/
Douban.xcodeproj/project.xcworkspace/xcuserdata/xinguo.xcuserdatad/UserInterfaceState.xcuserstate
